html, body { 
    background-color: #f9f9f9;
    font: 12px Arial, sans-serif; 
    text-align: center;
    width: 100%;
    height: 100%;
}

    html {
        display: table;
    }

    body {
        display: table-cell;
        vertical-align: middle;
    }
        body > .footer {
            margin-top: 15px;
        }

        #auth {
			position:relative;
			margin: auto; 
			margin-top: -60px;
			margin-bottom: 10px;
			width: 280px;
			height: 270px;
			background-color: white;
			border: solid 1px #dedede;
		
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			
			-moz-box-shadow: 3px 2px 10px 1px #c9c9c9;
			-webkit-box-shadow: 3px 2px 10px 1px #c9c9c9;
			box-shadow: 3px 2px 10px 1px #c9c9c9;
		}

            #auth .msg {
                position:absolute;
				left:0;
				right:0;
				bottom:280px;
				color: #555;	
				background-color: #FFEBE8;
				border: 1px solid #C00;	
				padding: 7px;
														
				-webkit-border-radius: 5px;
				-moz-border-radius   : 5px;
				border-radius        : 5px;	
            }
		
				#auth .error {
					background-color: #FFEBE8;
					border: 1px solid #C00;
				}

				#auth .msg-info {
					border: 1px solid  #E6DB55;
					background-color: #FFFBCC;
				}

            #auth .header {
                padding: 10px;
            }

            #auth .footer {
				
            }
			
                #auth label {
                    color: #4bb0e0;
                }
                #auth #remember-me {
                    display: none;
                }

                #auth .footer label:before {
                    content: '.';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    padding: 0;
                    background: url(images/icons-18-black.png);
                    border: 1px solid #ccc;
                }
                #auth .footer .not-checked:before {
                    color: #fff;
                    background-position: -270px;
                }
                #auth .footer .checked:before {
                    color: #000;
                    background-position: -253px;
                }

                #auth .footer #forgot-pwd {
                    color: #a0c644;
                    text-decoration: none;
                    border-bottom: 1px solid #a0c644;
                }

                #auth .footer #forgot-pwd:hover {
                    border: none;
                }

                #auth .footer .divider {
                    color: #bdbdbd;
                }

input:not([type='button']), textarea, select {
    background-color: #f9f9f9;
    text-align: center;
    font-size: 16px;
    outline:none;
    font-weight: bolder;

    border: 1px;
    margin-top: 10px;
    padding: 5px 0;
    width: 200px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;


    -webkit-box-shadow: inset 1px 1px 3px #9d9d9d;
    -moz-box-shadow: inset 1px 1px 3px #9d9d9d;
    box-shadow: inset 1px 1px 3px #9d9d9d;
}

.button {
    font: 12px Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white !important;

    min-width: 68px;
    height: 24px;
    line-height: 22px;
    /*margin: 3px;*/
    margin-top: 15px;
	margin-bottom: 20px;
    top: -1px;

    padding: 0 10px;
}
.button.green {
    border: 1px solid #94A84D;
	background:#A6CB6B;
}
.button.green:hover {
	background:#94A84D;
}

.footer #fx-link {
	display:inline-block;
  	margin-top:10px;
  	color:#4bb0e0;
}

.footer #fx-link:hover {
  	text-decoration:none;
}